<header id="main_header">
    <div class="logo">
        <h1>ANEXO</h1>
    </div>
    <nav id="main_nav">
        <ul class="menu">
            <li class="menu_item">home</li>
            <li class="menu_item">home</li>
            <li class="menu_item">home</li>
        </ul>
    </nav>
</header>